block variables
include ../partials/mainbar

doctype html

html(lang=locals.website.lang)

  head
    title=locals.company.name
    meta(name="description" content=locals.company.description)

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0, maximum-scale=1, minimum-scale=1")

    //- Set theme color to the default background color
    meta(name="theme-color" content=locals.colorscheme.defaultBackground)

    //- Include stylesheets
    link(rel="stylesheet" href="styles/init.scss")
    //- Include fonts
    link(rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap")

    block scripts-head
    block styles

  body(data-barba="wrapper")
    div(data-barba="container" data-barba-namespace=barbaNamespace)
      div(data-scroll-container)
        //- +mainbar(locals.website.mainBar.items, barbaNamespace)
        block content

    //- Include javascripts
    script(type="text/javascript" src="scripts/init.js")
    block scripts-body
